.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.datePickerButtons {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
}

.chevronIcon {
  color: #007AFF;
}

.month { 
  width: 125px;
}

.year { 
  width: 125px;
}